nav {
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	border-bottom: 1px solid #706a6a;
}

.nav-logo {
	width: 200px;
}
.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 100%;
}
.navbar-left {
	display: flex;
}
.navbar-left ul {
	margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
	text-decoration: none;
	color: #706a6a;
	border: 1px solid white;
	padding: 8px;
	border-radius: 8px;
    font-size: 20px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
	border: 1px solid #ACD9B2;
	color: #000000;
}
.navbar-email {
	color: #706a6a;
	font-size: 20px;
	margin-right: 12px;
}
.navbar-shopping-cart {
	position: relative;
}